<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Добавление позиции - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
</head>

<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img
				th:src="@{/img/anchor.png}" width="100" height="70" align="left" /></a>
			<p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right">
			<p>
				<a th:href="@{/users}">Список пользователей</a>
			</p>
			<p>
				<a th:href="@{/phonerepo}">Магазин</a>
			</p>
		</div>
	</div>
</header>

<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
				<h2>Добавление позиции</h2>
				<form th:action="@{/addphone}" th:object="${phoneForm}"
					method="POST" enctype="multipart/form-data">
					Модель: <br>
					<input type="text" th:field="*{model_name}" placeholder="model" /> <br />
					Цвет: <br>
					<input type="text" th:field="*{color_name}" placeholder="color"/> <br />
					Цена: <br>
					<input type="number" th:field="*{price}" placeholder="price"/> <br />
					Комментарий: <br>
					<input type="text"  th:field="*{comment}" placeholder="comment"/> <br />
					Изображение: <br>
                    <input type="file" multiple accept="image/jpeg" th:field="*{picture}"/>
                    <br>
                    <br>
					<input type="submit" value="Create" />
				</form>
			</div>
		</div>
		<div class="col-2-2">
			<div class="content"></div>
		</div>
	</div>
</body>
</body>
</html>