<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Корзина - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
</head>

<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img
				th:src="@{/img/anchor.png}" width="100" height="70" align="left" /></a>
			<p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right">
			<p>
				<a th:if="${isAdmin}" th:href="@{/users}">Список пользователей</a>
			</p>
			<p>
				<a th:href="@{/phonerepo}">Магазин</a>
			</p>
			<p>
				<a th:if="${isUser}" th:href="@{/basket}">Корзина</a>
			</p>
		</div>
	</div>
</header>


<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
				<hr>
				<h2>Личный кабинет</h2>
				<p th:utext="${user.getUsername()}">...</p>
				<p>Покупок в корзине:
				<p th:utext="${user.getNumberOfPhones()}">0</p>
			</div>
		</div>
		<div class="col-2-2">
			<div class="content">
				<hr>
				<h2>Корзина</h2>
				<div>
					<table border="0">
						<tr>
							<th>id</th>
							<th>model</th>
							<th>creation date</th>
							<th>color</th>
							<th>price</th>
							<th>picture</th>
							<th>delete from basket</th>
						</tr>
						<tr th:each="phone : ${user.getPhones()}">
							<td th:utext="${phone.getId()}">...</td>
							<td th:utext="${phone.getModelName()}">...</td>
							<td th:utext="${phone.getCreationDate()}">...</td>
							<td th:utext="${phone.getColor()}">...</td>
							<td th:utext="${phone.getPrice()}">...</td>
							<td><a
									th:href="@{/phonepage(phoneId=${phone.getId()})}"
									class="btn btn-danger"><img width="90" height="90"
									th:src="@{'data:image/jpeg;base64,'+${phone.getPicture().encodeImage()}}"
									alt="" /></a></td>
							<td><a
								th:href="@{deletefrombasket(userId=${user.getId()}, phoneId=${phone.getId()})}"
								class="btn btn-danger">Delete</a></td>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>