

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Войти - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
</head>
<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img
				th:src="@{/img/anchor.png}" width="100" height="70" align="left" /></a>
			<p>Добро пожаловать!</p>
			<form th:action="@{/login}">
				<input type="submit" value="Sign In" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right"></div>
	</div>
</header>


<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
				<hr>
				<h2>Чтобы перейти в магазин, необходимо войти.</h2>
				<div th:if="${param.error}">Неверный логин или пароль.</div>
				<div th:if="${param.logout}">Вы вышли из системы.</div>
				<form th:action="@{/login}" method="post">
					Логин: <br>
					<input type="text" name="username" placeholder="username" /> <br>
					Пароль: <br>
					<input type="password"	name="password" placeholder="password"/> <br>
					<br>
					<input type="submit" value="Sign In" />
				</form>
				<p>
					Первый раз здесь? <a th:href="@{/registration}">Регистрация</a>
				</p>
			</div>
		</div>
		<div class="col-2-2">
			<div class="content">
				<hr>

			</div>
		</div>
	</div>
</body>
</body>
</html>