<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Магазин - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/mystyles.css}" />

</head>

<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img th:src="@{/img/anchor.png}"
				width="100" height="70" align="left" /></a>
			<p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right">
			<p>
				<a th:if="${isAdmin}" th:href="@{/users}">Список пользователей</a>
			</p>
			<p>
				<a th:href="@{/phonerepo}">Магазин</a>
			</p>
			<p>
				<a th:if="${isUser}" th:href="@{/basket}">Корзина</a>
			</p>
		</div>
	</div>
</header>


<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
			
				<h2>Просто начните покупку!</h2>
				<img th:src="@{/img/stock_for_repo.jpg}" width=400px
					align="left" />
				
			</div>
		</div>
		<div class="col-2-2">
			<div class="content">
			
				<h2>Магазин</h2>
				<p th:if="${alreadyThere}">Данная позиция уже лежит в корзине.</p>
				<div>
					<p>
						<a th:if="${isAdmin}" th:href="@{/addphone}">Добавить телефон</a>
					</p>
					<form th:action="@{/bulkDelete}" method="post">
						<table border="0">
							<tr>
								<th th:if="${isAdmin}">check</th>
								<th>id</th>
								<th>model</th>
								<th>creation date</th>
								<th>color</th>
								<th>price</th>
								<th>picture</th>
								<th th:if="${isUser}">add to basket</th>
								<th th:if="${isAdmin}">delete</th>
								<th th:if="${isAdmin}">modify</th>
							</tr>
							<tr th:each="phone : ${phones}">
								<td th:if="${isAdmin}"><input type="checkbox"
									th:name="idChecked" th:value="${phone.getId()}" /></td>
								<td th:utext="${phone.getId()}">...</td>
								<td th:utext="${phone.getModelName()}">...</td>
								<td th:utext="${phone.getCreationDate()}">...</td>
								<td th:utext="${phone.getColor()}">...</td>
								<td th:utext="${phone.getPrice()}">...</td>
								<td><a th:href="@{/phonepage(phoneId=${phone.getId()})}"
									class="btn btn-danger"><img width="90" height="90"
										th:src="@{'data:image/jpeg;base64,'+${phone.getPicture().encodeImage()}}"
										alt="" /></a></td>
								<td th:if="${isUser}"><a
									th:href="@{phonerepo/addtobasket(phoneId=${phone.getId()})}"
									class="btn btn-danger">Add to basket</a></td>
								<td><a th:if="${isAdmin}"
									th:href="@{phonerepo/deletephone(phoneId=${phone.getId()})}"
									class="btn btn-danger">Delete</a></td>
								<td><a th:if="${isAdmin}"
									th:href="@{/modifyphone(phoneId=${phone.getId()})}"
									class="btn btn-danger">Modify</a></td>
							</tr>
						</table>
						<br>
						<input type="submit" value="Delete checked" th:if="${isAdmin}" />
						<br>
						<br>
						<br>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>