<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Страница телефона - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/mystyles.css}" />
</head>

<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img th:src="@{/img/anchor.png}"
				width="100" height="70" align="left" /></a>
			<p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right">
			<p>
				<a th:if="${isAdmin}" th:href="@{/users}">Список пользователей</a>
			</p>
			<p>
				<a th:href="@{/phonerepo}">Магазин</a>
			</p>
			<p>
				<a th:if="${isUser}" th:href="@{/basket}">Корзина</a>
			</p>
		</div>
	</div>
</header>


<body>
			<div class="row">
				<div class="col-1-2">
					<div class="content">
						<h2 th:utext="${phone.getModelName()}+| |+${phone.getColor()}">...</h2>
						<img width="300" height="300"
							th:src="@{'data:image/jpeg;base64,'+${phone.getPicture().encodeImage()}}"
							alt="" />
					</div>
				</div>
				<div class="col-2-2">
					<div class="content">
						<h2>Описание</h2>
						<td><a th:if="${isAdmin}"
							th:href="@{/modifyphone(phoneId=${phone.getId()})}"
							class="btn btn-danger">Редактировать</a></td> </br>
						<td><a th:if="${isAdmin}"
							th:href="@{phonerepo/deletephone(phoneId=${phone.getId()})}"
							class="btn btn-danger">Удалить из базы</a></td>
						<h3>Модель:</h3>
						<p th:utext="${phone.getModelName()}">...</p>
						<h3>Цвет:</h3>
						<p th:utext="${phone.getColor()}">...</p>
						<h3>Цена:</h3>
						<p th:utext="${phone.getPrice()}">...</p>
						<h3>Комментарий:</h3>
						<p th:utext="${phone.getComment()}">...</p>
						</br>
						<td th:if="${isUser}"><a
							th:href="@{phonerepo/addtobasket(phoneId=${phone.getId()})}"
							class="btn btn-danger">Добавить в корзину</a></td>
					</div>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>

</body>
</html>