

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Регистрация - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
</head>
<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img
				th:src="@{/img/anchor.png}" width="100" height="70" align="left" /></a>
			<p>Добро пожаловать!</p>
			<form th:action="@{/login}">
				<input type="submit" value="Sign In" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right"></div>
	</div>
</header>


<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
				<hr>
				<h2>Регистрация нового пользователя.</h2>
				<div th:if="${checkDb}">Пользователь с таким именем уже существует.</div>
				<div th:if="${noMatch}">Пароль должен содержать не менее 8 символов, содержать минимум одну цифру [0-9], минимум одну большую букву [A-Z].</div>
				<form th:action="@{/registration}" method="post">
					Логин: <br>
					<input type="text" name="username" placeholder="username" /> <br>
					Пароль: <br>
					<input type="password"	name="password" placeholder="password"/> <br>
					<br>
					<input type="submit" value="Sign Up" />
				</form>

			</div>
		</div>
		<div class="col-2-2">
			<div class="content">
				<hr>

			</div>
		</div>
	</div>
</body>
</body>
</html>