<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cписок пользователей - Я-телефон</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
</head>

<header>
	<div class="header-row">
		<div class="header-left">
			<a th:href="@{/index}"><img
				th:src="@{/img/anchor.png}" width="100" height="70" align="left" /></a>
			<p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		<div class="header-middle">
			<h1>Я-телефон.</h1>
		</div>
		<div class="header-right">
			<p>
				<a th:href="@{/users}">Список пользователей</a>
			</p>
			<p>
				<a th:href="@{/phonerepo}">Магазин</a>
			</p>
		</div>
	</div>
</header>


<body>
	<div class="row">
		<div class="col-1-2">
			<div class="content">
				<hr>
				<h2>Управление пользователями.</h2>
				<p>На данной странице можно управлять доступом и корзинами
					пользователей.</p>
			</div>
		</div>
		<div class="col-2-2">
			<div class="content">
				<hr>
				<h2>Список пользователей</h2>
				<p th:if="${deletingAdmin}">Удаление прав главного админа невозможно.</p>
				<div>
					<table border="0">
						<tr>
							<th>id</th>
							<th>username</th>
							<th>role</th>
							<th>basket</th>
							<th>change roles</th>
						</tr>
						<tr th:each="user : ${users}">
							<td th:utext="${user.getId()}">...</td>
							<td th:utext="${user.getUsername()}">...</td>
							<td th:utext="${user.getRole()}">...</td>
							<td><a th:href="@{/basket/user(userId=${user.getId()})}"
								class="btn btn-danger" th:text="${user.getNumberOfPhones()}">...</a></td>
							<td th:if="${!user.isAdmin()}"><a
								th:href="@{/setAdmin(userId=${user.getId()})}"
								class="btn btn-danger">set ADMIN</a></td>
							<td th:if="${user.isUser()}"><a
								th:href="@{/rmUser(userId=${user.getId()})}"
								class="btn btn-danger">rm USER</a></td>
							<td th:if="${user.isAdmin()}"><a
								th:href="@{/rmAdmin(userId=${user.getId()})}"
								class="btn btn-danger">rm ADMIN</a></td>
							<td th:if="${!user.isUser()}"><a
								th:href="@{/setUser(userId=${user.getId()})}"
								class="btn btn-danger">set USER</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</body>
</html>